.big-title {
  text-align: center;
}

.sign-in-box {
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  width: 250px;  
}

.sign-in-box:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.sign-in-box h1 {
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30;
  margin-left: 0;
}

.sign-in {
  background-color: #4285f4;
  border: 1px solid #cdcdcd;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin: auto; 
  min-width: 90px;
  padding: 5px; 
}

