.recipe-box {
  position: relative;
}

.recipe-box h1 {
  text-align: center;
}

.footer {
  clear: both;
  text-align: center
}

#add-recipe {
  margin: 10px; 
  background-color: #60cc60;
  color: #ffffff;
}

#log-out {
  margin-bottom: 10px;
  background-color: #4285f4;
  color: #ffffff;
}


