.recipe-card {
  height: 250px;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  cursor: pointer;
  float: left;
  margin: 10px;
  text-align: center;
}

.recipe-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}