.view-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}

.view-modal {
    background-color: #fff;
    border-radius: 2px;
    width: 70vw;
    min-height: 30%;
    margin: 0 auto;
    padding-top: 10px;
    padding: 10px;
    white-space: pre;
}

.view-modal h3 {
    padding: 0;
    margin: 0;
}

.view-ingredients, .view-directions {
    margin-left: 10px;
}

.img {
    display: none;
}

@media (min-height: 1024px) {
    .img {
        display: inline-block;
    }
}
